<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99641741564-mh1tni5u5s618m76me4vg01c9rsdc319.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99641741564-mh1tni5u5s618m76me4vg01c9rsdc319</string>
	<key>API_KEY</key>
	<string>AIzaSyBtpFxuLb_1KVZLBCCORBwrFieTmgSyblU</string>
	<key>GCM_SENDER_ID</key>
	<string>99641741564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myAppDn</string>
	<key>PROJECT_ID</key>
	<string>my-app-dn</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-dn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99641741564:ios:bda3f8c5a7015c72044779</string>
</dict>
</plist>